---
layout: layout.liquid
title: 11ty Boilerplate
---
# Planetary Playing Cards 
<main>
  <div class ="modsun"> 
    <h2>Sun</h2>
    <p>Type G2V</p>
  </div>
  <div class = planets>
    <div class = Mercury>
          <h2>Mercury</h2>
          <p>0.4 AU</p>
    </div>
      <div class = Venus>
          <h2>Venus</h2>
          <p>0.72 AU</p>
    </div>
      <div class = Earth>
          <h2>Earth</h2>
          <p>1 AU</p>
    </div>
      <div class = Mars>
          <h2>Mars</h2>
          <p>1.52 AU</p>
    </div>
    <div class = Jupiter>
          <h2>Jupiter</h2>
          <p>5.2 AU</p>
    </div>
     <div class = Saturn>
          <h2>Saturn</h2>
          <p>9.5 AU</p>
    </div>
      <div class = Uranus>
          <h2>Uranus</h2>
          <p>19.8 AU</p>
    </div>
     <div class = Neptune>
          <h2>Neptune</h2>
          <p>30 AU</p>
    </div>
  </div>
</main>