main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  
  .modsun {
    grid-row: span 2;
  }
  
  .planets {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  
  .planets > div {
    background-color: lightgray;
    padding: 10px;
    border-radius: 5px;
  }
  